fastapi 
uvicorn
python-dotenv
python-jose[cryptography] 
passlib[bcrypt]
sqlalchemy
python-multipart
chromadb
PyMuPDF
requests
nest-asyncio 
tornado 
decorator
pytest
pytest-asyncio
httpx>=0.23.0  
anyio 

